<h1>Appartements à louer</h1>
<ul>
  <% @flats.each do |flat| %>
    <li>
        <%= link_to flat.name, flat_path(flat) %>
        <%= pluralize(flat.bookings.count, "reservation") %>
    </li>
  <% end %>
</ul>
<%= link_to "Créer un appartement", new_flat_path %>
